{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simpleo | Login </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/login.css') }}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<body>
<div class=" fadeInDown centerDiv">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
           <a href="{{ path('homepage') }}"> <img class ="logo" src="http://37.187.127.4/images/Logo.png" id="icon" alt="User Icon" /></a>

        </div>

        <!-- Login Form -->
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
            <input class="fadeIn second" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Identifiant" />

            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            <input class="fadeIn third" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Mot de passe" />

            {#<div class="fadeIn fourth ">#}
                {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                {#<label class="remember" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

            {#</div>#}

            <input class="fadeIn fourth" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
        {#{{ dump(app.session.flashbag.all()) }};#}
        {% for type, messages in app.session.flashbag.all() %}

            {% for message in messages %}
                <div class="flash-{{ type }} alert-{{ type }}">
                    {% if message == "L'utilisateur a été créé avec succès." %}
                    {{ message }}
                    {% endif %}

                </div>
            {% endfor %}
        {% endfor %}

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover " href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
        </div>

    </div>
</div>
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>