{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/company.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="well well-sm text-center">

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

                <div class="fadeIn first text-center">
                    <img class="logo"
                         src="http://37.187.127.4/images/Logo.png" id="icon"
                         alt="User Icon"/>
                </div>
                <fieldset>

                    <legend class=" text-center">Votre Profil</legend>


                    {#<h5 class=" text-center">Pour poursuivre, merci de compléter les informations suivantes :</h5>#}

                    <div style="padding-top: 20px" class="form-group">
                        {{ form_label(form.username, null, { 'label': 'Nom','label_attr': {'class': '  col-md-3 control-label'} }) }}
                        <div class="col-md-9">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}} ) }}
                        </div>
                    </div>

                   <br><br>

                    <div class="form-group">
                        {{ form_label(form.email, null, { 'label': 'Email','label_attr': {'class': '  col-md-3 control-label'} }) }}
                        <div class="col-md-9">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}} ) }}
                        </div>
                    </div>

                    <br><br>

                    <div class="form-group">
                        {{ form_label(form.current_password, null, { 'label': 'Mot de passe','label_attr': {'class': '  col-md-3 control-label'} }) }}
                        <div class="col-md-9">
                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}} ) }}
                        </div>
                    </div>

                    <br><br>

                    {{ form_rest(form) }}

                    <div>
                        <input class="btn btn-primary btn-lg" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
                    </div>

                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

</body>

