{% extends 'layout.html.twig' %}
{% block content %}


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Customer/index.css') }}">
    <body>

    <div class="row">

        <div></div>


        <div style="margin-top: 50px;" class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <a href="{{ path('new_invoice_buy') }}">
                                <button class="btn btn-success">
                                    + Nouvel achat
                                </button>
                            </a>
                        </div>
                        <div class="search">
                            {{ form_start(form) }}
                            <div class="form-row">
                                <div class="col">
                                    {{ form_row(form.value) }}
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary"> Rechercher</button>
                                </div>

                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Date facture</th>
                            <th>Date saisie</th>
                            <th>Date paiement</th>
                            <th>Date d'échéance</th>
                            <th>Fournisseur</th>
                            <th>Prix HT</th>
                            <th>Prix TTC</th>
                            <th>Payé</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody style="text-align: center">
                        {% for invoice in properties %}
                            <tr>
                                <td class="centerDiv">FR-{{ "now"|date("Y") }}-{{ invoice.id }}</td>
                                <td>{{ invoice.date  |date("d/m/Y") }}</td>
                                <td>{{ invoice.entryDate  |date("d/m/Y") }}</td>
                                <td>
                                {% if invoice.stateOfPaiement() == true %}
                               {{ invoice.getPaimentDate()  |date("d/m/Y") }}
                                    {% else %}
                                        Non définie
                                {% endif %}
                                </td>
                                <td>{{ invoice.getDueDate()  |date("d/m/Y") }}</td>
                                <td>{{ invoice.client }}</td>
                                <td>{{ invoice.getPriceHt() }} €</td>
                                <td>{{ invoice.getPriceTt() }} €</td>
                                <td>
                                    {% if invoice.stateOfPaiement == true or invoice.stateOfPaiement == 1 %}
                                    <label class="switch">
                                        <input disabled name="paiment[id]" id="idPaiement" type="checkbox" value="{{ invoice.id }}" checked >
                                        <span class="slider round"></span>
                                    </label>
                                    {% elseif invoice.stateOfPaiement == 0 or  invoice.stateOfPaiement == false %}
                                        <label class="switch">
                                            <input name="paiment[id]" id="idPaiement" type="checkbox" value="{{ invoice.id }}" >
                                            <span class="slider round"></span>
                                        </label>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-default"
                                       href="{{ path('invoice_show', { 'id': invoice.id }) }}"
                                    ><em class="fa fa-eye"></em></a>

                                    {% if invoice.imageFile is not null %}
                                    <a class="btn btn-default"
                                       href=""
                                    ><em class="fa fa-file-pdf-o"></em></a>

                                    {% endif %}
                                    <a class="btn btn-danger"
                                            href="{{ path('invoice_delete', { 'id': invoice.id }) }}">
                                        <em class="fa fa-trash"></em></a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div style="text-align: center">
                        {{ knp_pagination_render(properties) }}
                    </div>


                </div>
            </div>
        </div>
    </div>
    </body>

    <script src="{{ asset('build/js/Invoice/index.js') }}"></script>


    {% include 'footer.html.twig' %}
{% endblock %}
