{% block title %}{% endblock %}
{% block head %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Facture-devis/facture-devis.css') }}">
    {% endblock %}
{% block content %}
    {{ form_start(form2, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="right_block">
        <div class="right-one scroll-two">
            <table class="table-right">
                <thead>
                <th class="title_left">Compte</th>
                <th class="title_left" >Taux Tva</th>
                <th class="title_left" >Quantité</th>
                <th class="title_left" >Tva</th>
                <th class="title_left" >M.unitaire</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="right-two">

            <p class="title_left"> MOYEN DE PAIEMENT</p>


            <div class="form-error">
            </div>
            <div class="">
                <div class="funkyradio">
                    {% for children in form2.record_id %}
                        <div class="funkyradio-warning col-md-8">{{ form_widget(children) }} {{ form_label(children) }}</div>
                    {% endfor %}
                </div>
            </div>

            {#{{ form_widget(form2.record_id, {'attr': {'class': 'input_amount_qtt form-control'}} ) }}#}

        </div>

        <div class="right-tree">

            <p class="title_left"> QUI EST VOTRE FOURNISSEUR ?</p>
            <input type="text" id="search-two" class="col-md-8" name="name" >
            <div class="scroll-two col-md-8">
                <div class="funkyradio2 funkyradio interlocutor">
                    {% for child in form2.person_id %}
                        <div class="funkyradio-warning-2 col-md-12">{{ form_widget(child) }} {{ form_label(child) }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-4">
                <button type=button class="new_client" value="0">+</button>
            </div>
        </div>


        <div class="right-four">
            {{ form_label(form2.invoice_date, null, { 'label': 'Date de la Facture :','label_attr': {'class': 'title_left col-md-5 control-label'} }) }}
            <div class="col-md-5">
                <div class="input-group">
                                    <span class="input-group-addon"> <i
                                                class="fa fa-calendar"> </i></span>
                    {{ form_widget(form2.invoice_date, {'attr': {'class': 'js-datepicker form-control'}} ) }}
                </div>

            </div>
            <div id="erreur_form_two" class="col-md-12" style="color: red; margin-top: 30px"></div>
            <button type="button" class="confirmation_Def_action_button">Je Valide Ma Facture Définitivement</button>
        </div>
    </div>

    {{ form_end(form2) }}
{% endblock %}


