
{% block title %}{% endblock %}
{% block head %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Facture-devis/facture-devis.css') }}">
    {% endblock %}
{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="left_block">
        <div class="left_one">
            <p class="title_left">De quelle nature est votre achat ?</p>

        </div>
        <div class="left_two">
            <p class="title_left">Le taux de TVA ?</p>
            <div class="funkyradio">

                {% for child in form.tva %}
                    <div class="funkyradio-warning">{{ form_widget(child) }} {{ form_label(child) }}</div>
                {% endfor %}

                <button type=button class="tva_button" value="0">+</button>
            </div>
        </div>

        <div class="left_tree">

            <div class="form_group">
                <p class="title_left">Quantité</p>
                {{ form_widget(form.quantity, {'attr': {'class': 'input_amount_qtt form-control'}} ) }}
            </div>

            <div class="form_group">
                <p class="title_left">Montant Total</p>
                    {{ form_widget(form.unit_amount, {'attr': {'class': ' input_amount form-control'}} ) }}
            </div>

            <div class="form_group">
                <p class="title_left">Montant TVA</p>
                    {{ form_widget(form.tva_amount, {'attr': {'class': ' input_amount form-control'}} ) }}
            </div>

        </div>
    </div>
    <div class="left_four">
        <button class="confirmation_action_button">Je Valide Ma Saisie</button>
    </div>
</form>
{% endblock %}
