{% include 'layout.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/Facture-devis/show.css') }}">
{% endblock %}

{% block content %}


    <body>

    <div style="margin-bottom: 450px;" class="show">


        <div class="gauche">
            <legend class ="text-center"> Facture FR-{{ "now"|date("Y") }}-{{ invoice.id }}</legend>
            <div class="row">
                <!-- Start .row -->
                <div class="col-md-12">
                    <dl class="mt20">


                        <div style="margin-left: 50px; margin-top: 12px">


                            <div class="form-group">
                                <label class=" control-label ">Fournisseur :</label>
                                {{ invoice.client }}
                            </div>

                            <div class="form-group">
                                <label class="  control-label ">Date de Facture :</label>
                                {{ invoice.date  |date("d/m/Y") }}
                            </div>

                            <div class="form-group">
                                <label class=" control-label ">Date de Saisie :</label>
                                {{ invoice.entryDate  |date("d/m/Y") }}
                            </div>

                            <div class="form-group">
                                <label class=" control-label ">Date de Paiement :</label>
                                {% if invoice.stateOfPaiement()  %}
                                {{ invoice.getPaimentDate |date("d/m/Y") }}
                                    {% else %}
                                    en attente de paiement
                                {% endif %}
                            </div>

                            {% if invoice.getInvoiceType() == false %}
                            <div class="form-group">
                                <label class=" control-label ">Date d'échéance :</label>
                                {{ invoice.getDueDate()  |date("d/m/Y") }}
                            </div>
                            {% endif %}


                                <div class="form-group">
                                    <label class=" control-label ">Moyen de Paiement :</label>
                                    {% if invoice.paiement is not null %}
                                        {{ invoice.paiement }}
                                    {% else %}
                                        non définis
                                    {% endif %}
                                </div>


                            <div class="form-group">
                                <label class=" control-label ">Fichier :</label>

                                {% if invoice.imageFile is not null %}<a target="_blank"
                                                                         href="{{ vich_uploader_asset(action, 'imageFile') }}"/>Fichier
                                joint</a>
                                {% else %}
                                aucun fichier
                                {% endif %}</dd>
                            </div>


                        </div>


                    </dl>
                </div>
            </div>

        </div>

        <div class="droite">
            <h3 style="margin-left:130px !important;">Récapitulatif des actions</h3>
            {% set actions = invoice.actions %}


            <table cellpadding="7" style="margin: auto!important; margin-top: 20px!important">

                <thead>
                <tr style="text-align: center">
                    <th>Compte</th>
                    <th>Article</th>
                    <th>Taux Tva</th>
                    <th>Quantité</th>
                    <th>Tva</th>
                    <th>M.unitaire</th>


                </tr>
                </thead>
                <tbody>

                {% for action in actions %}
                    <tr>
                        <td>
                            {{ action.record.Num }}
                        </td>
                        <td>
                            {{ action.article }}
                        </td>
                        <td>
                            {{ action.tva }} %
                        </td>
                        <td>
                            {{ action.quantity }}
                        </td>
                        <td>
                            {{ action.getTvaAmount() }} €
                        </td>
                        <td>
                            {{ action.getUnitAmount() }} €
                        </td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>

            <br>
            <div class="infos" style="margin: auto; text-align: center">


                <div class="form-group">
                    <label class=" control-label ">Prix HT :</label>
                    {{ invoice.getPriceHt() }} €
                </div>

                <div class="form-group">
                    <label class=" control-label ">Prix TTC :</label>
                    {{ invoice.getPriceTt() }} €
                </div>

                <div class="form-group">
                    <label class=" control-label ">Payé :</label>
                    {% if invoice.stateOfPaiement == false %}
                        <img style="height: 25px" class="social-media"
                             src="{{ asset('build/img/icone-croix-rouge-png-3.png') }}" alt="croix">

                    {% else %}
                        <img style="height: 20px" class="social-media"
                             src="{{ asset('build/img/success_icon-icons.com_52365.png') }}" alt="success">
                    {% endif %}
                </div>


            </div>


        </div>

    </div>

    </body>
    <footer>
        {% include 'footer.html.twig' %}
    </footer>


{% endblock %}