{% trans_default_domain 'FOSUserBundle' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/login.css') }}">

<link rel="stylesheet" type="text/css" href="{{ asset('build/css/login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<body>

<div class=" fadeInDown centerDivRegister">

    {#<i class="fa fa-arrow-left" href="{{ path('login') }}"></i>#}
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img class ="logo" src="https://dwarves.iut-fbleau.fr/git/renaults/Simpleo/raw/master/images/Logo.png" id="icon" alt="User Icon" />

        </div>
        <h1>Inscription</h1>


        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
       {#<input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required">#}

        <div>
            <input class = "btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
       <a class="underlineHover " href="{{ path('fos_user_security_login') }}">Déja un compte ?</a>
        {{ form_end(form) }}



    </div>


</div>
</body>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


