{% extends '/layout.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}


    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/newcustomer.css') }}">
    <script>
        $(document).ready(function(){
            $("#customer_personType_0").on('click',function(){
                $('div[id="leschamps"]').css('display','block');
                $('div[id="formCompany"]').hide();
                $('div[id="formIndividual"]').show();
                $("#customer_firstname").prop('required',true);
                $("#customer_lastaname").prop('required',true);
                $("#customer_companyname").prop('required',false);
            });
            $("#customer_personType_1").on('click',function(){
                $('div[id="leschamps"]').css('display','block');
                $('div[id="formIndividual"]').hide();
                $('div[id="formCompany"]').show();
                $("#customer_firstname").prop('required',false);
                $("#customer_lastaname").prop('required',false);
                $("#customer_companyname").prop('required',true);
            });
        });
    </script>

<body>
    <div class="container">
        <div class="jumbotron formCustomer">
            <a href="{{path('index_customer')}}"><button class="btn btn-light">Retour</button></a>
            <div class="">
                <legend>{{ form.vars.data.id is null ? 'Nouvel':'Modifier' }} associé</legend>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                <div>
                    {{ form_widget(form.personType)}}

                </div>

                <div id="leschamps">
                    <div class="form-group" id="formIndividual">
                        {{ form_label(form.firstname, null, { 'label': 'Nom*','label_attr': {'class': ' col-sm-3 label-control'} }) }}
                        <div class="col-sm-12 col-md-12">
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.firstname) }}
                        </div>
                    </div>
                    <div class="form-group" id="formIndividual">
                        {{ form_label(form.lastname, null, { 'label': 'Prénom*','label_attr': {'class': 'col-sm-3 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.lastname) }}
                        </div>
                    </div>
                    <div class="form-group" id="formCompany">
                        {{ form_label(form.companyname, null, { 'label': 'Nom de la société*','label_attr': {'class': ' col-sm-4 label-control'} }) }}
                        <div class="col-sm-12 col-md-12">
                            {{ form_widget(form.companyname, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.companyname) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, null, { 'label': 'Email*','label_attr': {'class': 'col-sm-3 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.mobilephone, null, { 'label': 'Téléphone*','label_attr': {'class': 'col-sm-3 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.mobilephone, {'attr': {'class': 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.adress, null, { 'label': 'Adresse*','label_attr': {'class': 'col-sm-3 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.adress, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.adress) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.city, null, { 'label': 'Ville*','label_attr': {'class': 'col-sm-3 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.city) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.postcode, null, { 'label': 'Code Postal*','label_attr': {'class': 'col-sm-3 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.postcode, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.postcode) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.country, null, { 'label': 'Pays*','label_attr': {'class': 'col-sm-3 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.country) }}
                        </div>
                    </div>
                    <div class="form-group" id="formCompany">
                        {{ form_label(form.siren, null, { 'label': 'N° SIREN','label_attr': {'class': 'col-sm-4 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.siren, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.siren) }}
                        </div>
                    </div>
                    <div class="form-group" id="formCompany">
                        {{ form_label(form.siret, null, { 'label': 'N° SIRET','label_attr': {'class': 'col-sm-4 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.siret, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.siret) }}
                        </div>
                    </div>
                    <div class="form-group" id="formCompany">
                        {{ form_label(form.numtva, null, { 'label': 'N° TVA Intracommunautaire','label_attr': {'class': 'col-sm-6 label-control'} }) }}
                        <div class="col-sm-12">
                            {{ form_widget(form.numtva, {'attr': {'class': 'form-control'}} ) }}
                            {{ form_errors(form.numtva) }}
                        </div>
                    </div>
                </div>
            </div>
                {{ form_rest(form) }}
                <div class="form-group">
                    <div class="text-center">
                        <button href="#" type="submit" class="btn btn-info">Enregistrer</button>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>

</body>
    {% include 'footer.html.twig' %}
{% endblock %}
