{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/choiceMode.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

<body>

<div class="row ">
    <div class="col-md-10 col-md-offset-1 ">
        <div class="well well-sm text-center vertical-center">
            <div class="fadeIn first text-center">
               <a href="{{ path('homepage') }}"> <img class="logo" src="http://37.187.127.4/images/Logo.png"
                     id="icon" alt="User Icon"/></a>
            </div>

            <fieldset>
                <legend class=" text-center">Abonnements</legend>

                {% if stateTrialPeriod == false  %}
                <!-- Periode d'essai -->
                <div class ="border displayDiv">
                    <h5><strong>PERIODE D'ESSAI</strong></h5>
                   <p>
                       Beneficier  d'une periode d'essai de 30 jours
                       pour découvrir les fonctionnalités de l'application
                   </p>
                    <p class ="prix">Gratuit</p>
                    <a href="{{path('dashboard', {'formula' : 'essai'})}}"><button type="submit" class="btn btn-primary btn-lg">Accéder au site</button></a>
                </div>
                {%  endif %}

                <div class ="border displayDiv">
                    <h5><strong>FORMULE SIMPLE</strong></h5>
                    <p>
                        Beneficier  d'une formule contenant une majeure partie
                        des fonctionnalités de l'application
                        <br><br>
                    </p>
                    <p class ="prix">30 € <span class="mois">/mois</span></p>

                    <a href="{{path('payement', {'formula' : 'simple'})}}"><button type="submit" class="btn btn-primary btn-lg">S'abonner</button></a>


                </div>

                <div style="margin-top: -30px !important; " class ="border displayDiv">
                    <h5><strong>FORMULE COMPLETE</strong></h5>
                    <p>
                        Beneficier d'une formule contenant toutes
                        les fonctionnalités de l'application <br>
                        <br>

                    </p>
                    <p class ="prix">50 € <span class="mois">/mois</span></p>
                    <a href="{{path('payement', {'formula' : 'complete'})}}"><button type="submit" class="btn btn-primary btn-lg">S'abonner</button></a>
                    </p>
                </div>

            </fieldset>

        </div>
    </div>
</div>


</body>

{% block extendJavascript %}

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock extendJavascript %}