

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/company.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="well well-sm text-center">
                {#<form class="form-horizontal" action="" method="post">#}
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="fadeIn first text-center">
                      <a href="{{ path('homepage') }}">  <img class ="logo" src="http://37.187.127.4/images/Logo.png" id="icon" alt="User Icon" /></a>

                    </div>
                    <fieldset>


                        {% if form.vars.data is not null  %}
                            <legend class=" text-center">Modifier Entreprise</legend>

                        {% else %}
                        <legend class=" text-center">Bienvenue sur Simpleo</legend>
                        {% endif %}

                        <h5 class=" text-center">Pour poursuivre, merci de compléter les informations suivantes :</h5>

                        <div class="form-group">
                            {{ form_label(form.socialReason, null, { 'label': 'Raison Social','label_attr': {'class': '  col-md-3 control-label'} }) }}
                            <div class="col-md-9">
                                {{ form_widget(form.socialReason, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form_label(form.legalForm, null, { 'label': 'Forme juridique','label_attr': {'class': 'col-md-3 control-label'} }) }}
                            <div class="col-md-9">
                                {{ form_widget(form.legalForm, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.siren, null, { 'label': 'Siren','label_attr': {'class': 'col-md-3 control-label'} }) }}
                            <div class="col-md-9">
                                {{ form_widget(form.siren, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {{ form_label(form.tva, null, { 'label': 'Régime de TVA','label_attr': {'class': 'col-md-3 control-label'} }) }}
                            <div class="col-md-9">
                                {{ form_widget(form.tva, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.declaration, null, { 'label': 'Déclaration','label_attr': {'class': 'col-md-3 control-label'} }) }}
                            <div class="col-md-9">
                                {{ form_widget(form.declaration, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.startDateSocialYear, null, { 'label': 'Début de votre exercice social','label_attr': {'class': 'col-md-3 control-label'} }) }}

                            <div class="col-md-4">
                                <div class ="input-group">
                                     <span class="input-group-addon"> <i
                                                 class="fa fa-calendar"> </i></span>
                                    {{ form_widget(form.startDateSocialYear, {'attr': {'class': 'form-control js-datepicker '}} ) }}
                                </div>


                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.endDateSocialYear, null, { 'label': 'Fin de votre exercice social','label_attr': {'class': 'col-md-3 control-label'} }) }}

                            <div class="col-md-4">
                                <div class ="input-group">
                                    <span class="input-group-addon"> <i
                                                class="fa fa-calendar"> </i></span>
                                    {{ form_widget(form.endDateSocialYear, {'attr': {'class': 'js-datepicker form-control'}} ) }}
                                </div>

                            </div>
                        </div>

                        {{ form_rest(form) }}

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Confirmer</button>
                            </div>
                        </div>

                    </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

</body>

{% block extendJavascript %}

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('build/js/form.js') }}"></script>
    <script src="{{ asset('build/js/company/form.js') }}"></script>



{% endblock extendJavascript %}

