

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/dashboard.css') }}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% endblock %}

    {% if state == true %}
        {% include 'layout.html.twig' %}
        {% if formula == 'essai' %}
            <div style="width: 700px; margin-left: auto; margin-right: auto; margin-top: 10px"
                 class="alert alert-dismissible alert-info ">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Vous êtes actuellement en période d'éssai, il vous reste <strong> {{ interval }} jours </strong>
                d'utilisation
            </div>
        {% elseif formula == 'simple' %}
            <div style="width: 490px; margin-left: auto; margin-right: auto;margin-top: 10px"
                 class="alert alert-dismissible alert-info ">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Vous bénéficiez actuellement de la formule <strong> simple </strong>
            </div>
        {% elseif formula == 'complete' %}
            <div style="width: 490px; margin-left: auto; margin-right: auto;margin-top: 10px"
                 class="alert alert-dismissible alert-info ">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Vous bénéficiez actuellement de la formule <strong> complete </strong>
            </div>
        {% endif %}
        <div class="colonne1" style="color: purple;">
            <h1>Votre Tableau de Bord</h1>
            <br>
        </div>

        <div class="w3-row-padding">

            <div class="w3-third row1">
                <div class="w3-card-4 row11">
                    <header class="w3-container">
                        <h2 class="smallhead" >Chiffre d'affaires mensuel ( {{ month }} )</h2>
                    </header>

                    <div class="w3-container">
                        {% if infoGlobal.monthturnover.0.turnoverOfThisMonth is null %}
                            <p>0 €</p>
                        {%  else  %}
                           <p>{{ infoGlobal.monthturnover.0.turnoverOfThisMonth }} €</p>
                        {%  endif  %}
                    </div>
                </div>

                <div class="w3-card-4 row12">
                    <header class="w3-container">
                        <h2 class="smallhead">Chiffre d'affaires annuel ( {{ year }} )</h2>
                    </header>

                    <div class="w3-container">
                        {% if infoGlobal.yearturnover.0.turnoverOfThisYear is null %}
                            <p>0 €</p>
                        {%  else  %}
                            <p>{{ infoGlobal.yearturnover.0.turnoverOfThisYear }} €</p>
                        {%  endif  %}
                    </div>
                </div>

                <div class="w3-card-4 row13">
                    <header class="w3-container">
                        <h2 class="smallhead">En attente de paiement : {{ infoGlobal.numberWaitInvoices.0.waitinvoices }} factures</h2>
                    </header>

                    <div class="w3-container">
                    {% if infoGlobal.numberWaitInvoices.0.ttcprice is null %}
                        <p>0 €</p>
                    {%  else  %}
                        <p>{{ infoGlobal.numberWaitInvoices.0.ttcprice }} €</p>
                    {%  endif  %}
                    </div>
                </div>
            </div>


            <div class="w3-third row2">
                <div class="w3-card-4">
                    <div class="w3-container w3-center">
                        <h2 style="color:purple ">Evolution du chiffre d'affaires</h2>
                    </div>
                    <br>
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                </div>
            </div>


            <div class="w3-third row3">
                <div class="w3-card-4">

                    <header class="w3-container">
                        <h2 class="smallhead" >Dépenses du mois dernier ( {{ lastmonth }} )</h2>
                    </header>

                    <div class="w3-container">
                        {% if infoGlobal.lastmonthspending.0.lastmonthspending is null %}
                            <p>0 €</p>
                        {%  else  %}
                            <p>{{ infoGlobal.lastmonthspending.0.lastmonthspending }} €</p>
                        {%  endif  %}
                    </div>

                    <header class="w3-container">
                        <h2 class="smallhead" >Chiffre d'affaires du mois dernier</h2>
                    </header>

                    <div class="w3-container">
                        {% if infoGlobal.lastmonthturnover.0.lastmonthturnover is null %}
                            <p>0 €</p>
                        {%  else  %}
                            <p>{{ infoGlobal.lastmonthturnover.0.lastmonthturnover}} €</p>
                        {%  endif  %}
                    </div>
                    <header class="w3-container">
                        <h2 class="smallhead" >Résultat net du mois dernier </h2>
                    </header>

                    <div class="w3-container">
                        {% if infoGlobal.lastmontresult is null %}
                            <p>0 €</p>
                        {%  else  %}
                            <p>{{ infoGlobal.lastmontresult}} €</p>
                        {%  endif  %}
                    </div>
                    <header class="w3-container">
                        <h2 class="smallhead" >Evolution du chiffre d'affaires /Mois</h2>
                    </header>

                    <div class="w3-container">
                        {% if evolution is null %}
                            <p>0 €</p>
                        {%  else  %}
                            <p>{{ evolution }} €</p>
                        {%  endif  %}
                    </div>

                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}

    {% elseif state != "true" and formula == 'essai' %}
        {{ include('dasboardOff.html.twig') }}
    {% endif %}
{% endblock %}


{% block extendJavascript %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function() {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title:{
                    text: "Gold Reserves"
                },
                axisY: {
                    title: "Gold Reserves (in tonnes)"
                },
                data: [{
                    type: "column",
                    yValueFormatString: "#,##0.## tonnes",
                    dataPoints: {{ mydata }}
        }]
        });
            chart.render();

        }
    </script>

{% endblock extendJavascript %}



