<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simpleo</title>
    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/headerDash.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no, maximum-scale=5.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
              integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no, maximum-scale=5.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    {% endblock %}
</head>

<nav class="navColor">
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:4" id="mySidebar">
        <button style="font-size: 130%;" class="w3-bar-item" onclick="w3_close()">Fermer &times;</button>
        <br>
        {% if app.user.formula is not null %}
            {% set formula  = app.user.formula %}
        {% else %}
            {% set formula  = formula %}
        {% endif %}
        <a href="{{ path('dashboard', {'formula' : formula}) }}" class="w3-bar-item active-link-bar">Tableau de bord</a>
        <div class="dropdown" style="width: 100%;">
            <a class="w3-bar-item">Achats <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content w3-bar-block w3-animate-left w3-border-purple" style="width: 25%;">
                <a href="#" class="w3-bar-item">Achats</a>
                <a href="#" class="w3-bar-item">Enregistrer un Achat</a>
                <a href="#" class="w3-bar-item">Journal</a>
            </div>
        </div>

        <div class="dropdown" style="width: 100%;">
            <a class="w3-bar-item">Ventes <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content w3-bar-block w3-animate-left w3-border-purple" style="width: 25%;">
                <a href="#" class="w3-bar-item">Vente</a>
                <a href="#" class="w3-bar-item">Enregistrer une Vente</a>
                <a href="#" class="w3-bar-item">Créer une facture</a>
                <a href="#" class="w3-bar-item">Journal</a>
            </div>
        </div>
        <a href="#" class="w3-bar-item">Cients</a>
        <a href="#" class="w3-bar-item">Rapport</a>
        <a href="#" class="w3-bar-item">Equipes</a>
        <br>
        <a href="{{ path('fos_user_security_logout') }}" class="w3-button w3-round-xlarge w3-border w3-border-white">Se
            deconnecter</a>

    </div>






{#     --------------------------------------            partie PC   ----------------------------------------------    #}









    <div class="bienvenue">
        <a href="{{ path('homepage') }}">
            <img src="http://37.187.127.4/images/Logo.png" id="Simpleologo" class="Simpleo-logo"
                 alt="Simpleo"/>
        </a>
        <p class="bienvenue2">

            {% if app.user is not null %}
                Bonjour, <em>{{ app.user.username }}</em>
            {% endif %}
        </p>

    </div>

    <div class="barrenav" id="test">
        <ul class="headerNav">

            <li class="nav-item">
                <a href="javascript:void(0);" class="icon" onclick="w3_open()">
                    <i class="fa fa-bars"></i>
                </a>
            <li>



            <li class="nav-item ">

                <a class="nav-link" href="{{ path('dashboard', {'formula' : formula}) }}">Tableau de bord</a>
            </li>


            <li class="nav-item achatsDropdown {% if app.request.attributes.get('_route') == 'index_journal_facture_achat' %}active-link{% endif %} ">
                <div class="dropdown">
                    <a class="nav-link"style="color: white"> Achats <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content w3-bar-block w3-border">
                        <a href="{{ path('index_journal_facture_achat') }}" id="achats" class="w3-bar-item w3-button ">Achats</a>
                        <a href="{{ path('new_invoice_buy') }}" class="w3-bar-item w3-button enreAchats">Enregistrer un achat</a>
{#                        <a href="#" class="w3-bar-item w3-button">Journal</a>#}
                    </div>
                </div>
            </li>


            <li class="nav-item ventesDropdown {% if app.request.attributes.get('_route') == 'index_journal_facture_vente' %}active-link{% endif %} " ">
                <div class="dropdown">
                    <a class="nav-link"style="color: white">Ventes <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content w3-bar-block w3-border">
                        <a href="{{ path('index_journal_facture_vente') }}" class="w3-bar-item w3-button">Ventes</a>
                        <a href="{{ path('new_invoice_sale') }}" class="w3-bar-item w3-button">Enregistrer une Vente</a>
{#                        <a href="#" class="w3-bar-item w3-button">Journal</a>#}
                    </div>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{{ path('index_customer') }}">Clients</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('index_devis') }}">Devis</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('stockage') }}">Stockage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('rapport') }}">Rapport</a>
            </li>

            <li style="float: right;margin-right: 20px" class="nav-item ">
                <div class="dropdown">

                    <a class="nav-link" style="color: white"><i class="fas fa-user"></i> Mon Compte<i

                                class="fa fa-caret-down" style='margin-left: 7px;'></i></a>
                    <div class="dropdown-content w3-bar-block w3-border">
                        <a class="w3-bar-item w3-button" href="{{ path('fos_user_profile_edit') }}">Profil</a>
                        {% if app.user is not null %}
                            {% if app.user.company  is not null %}
                                <a class="w3-bar-item w3-button"
                                   href="{{ path('company_form',{'id': app.user.company.id}) }}"><span
                                            class="txt">Mon entreprise</span></a>
                                <a class="w3-bar-item w3-button" href="{{ path('choiceMode') }}"> Formule</a>
                            {% endif %}
                        {% endif %}
                        <a class="w3-bar-item w3-button" href="{{ path('fos_user_security_logout') }}">Se
                            deconnecter</a>
                    </div>
                </div>
            </li>


        </ul>
    </div>
</nav>


{% block content %}
    <body></body>
{% endblock %}

{% block javascripts %}


    <script src="{{ asset('build/js/invoice.js') }}"></script>
    <script src="{{ asset('build/js/devis.js') }}"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('build/js/form.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>




    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>

    <script>$(document).ready(function () {
            $(window).scroll(function () {
                var top = $(".goto-top");
                if ($('body').height() <= ($(window).height() + $(window).scrollTop() + 200)) {
                    top.animate({"margin-left": "0px"}, 1500);
                }
            });

            $(".goto-top").on('click', function () {
                $("html, body").animate({scrollTop: 0}, 400);
            });
        });</script>

    <script type="text/javascript">
        $(function () {
            $('.barrenav a').filter(function () {
                return this.href == location.href
            }).parent().addClass('active-link').siblings().removeClass('active-link');
            $('.barrenav a').click(function () {
                $(this).parent().addClass('active-link').siblings().removeClass('active-link')
            })
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $('.w3-sidebar a').filter(function () {
                return this.href == location.href
            }).addClass('active-link-bar').siblings().removeClass('active-link-bar');
            $('.w3-sidebar a').click(function () {
                $(this).parent().addClass('active-link-bar').siblings().removeClass('active-link-bar')
            })
        })
    </script>
{% endblock %}

</html>