{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}


    <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/newcustomer.css') }}">


    <div class="container">
        <div class="jumbotron">
            <div class="">
                <fieldset class="scheduler-border">
                    <legend>Nouveau Client</legend>
                    <form>
                        <div class="form-group">
                            {{ form_label(form.firstname, null, { 'label': 'Nom*','label_attr': {'class': 'col-sm-2 control-label'} }) }}
                            <div class="col-sm-12">
                                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.lastname, null, { 'label': 'Prenom*','label_attr': {'class': 'col-sm-2 control-label'} }) }}
                            <div class="col-sm-12">
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, null, { 'label': 'Email*','label_attr': {'class': 'col-sm-2 control-label'} }) }}
                            <div class="col-sm-12">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mobilephone, null, { 'label': 'N° de tétéphone*','label_attr': {'class': 'col-sm-4 control-label'} }) }}
                            <div class="col-sm-12">
                                {{ form_widget(form.mobilephone, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.testIsNotANumber, null, { 'label': 'Adresse*','label_attr': {'class': 'col-sm-4 control-label'} }) }}
                            <div class="col-sm-12">
                                {{ form_widget(form.adress, {'attr': {'class': 'form-control'}} ) }}
                            </div>
                        </div>


                        {#<div class=" blockFile col-md-12 ">#}
                            {#<p class="title_left" style="margin-bottom: 60px"> VOUS SOUHAITEZ AJOUTER UN FICHIER ?</p>#}
                            {#<label class="col-lg-2 col-md-3 text-right">#}
                                {#{{ form_label(form.imageFile, null, { 'label': 'Fichier','label_attr': {'class': ' control-label title_left'} }) }}#}
                            {#</label>#}
                            {#<div class="col-lg-9 col-md-5">#}
                                {#{{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}} ) }}#}
                                {#<label class="help-block">  {{ form_errors(form.imageFile ) }}</label>#}
                            {#</div>#}
                        {#</div>#}
                        <div class="form-group">
                            <div class="text-center">
                                <button href="#" type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>

                    </form>
                </fieldset>


            </div>
            {#<div class="col-4">
                    <form >

                    </form>
            </div>#}
        </div>
    </div>




{% endblock %}