{% include 'layout.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/rapport.css') }}">
    {% endblock %}

{% block content %}

    <div class="colonne1">
        <h1 style="margin-left: 2%;">Générez vos comptes de résultat</h1>
        <br>
    </div>

    <div class="main">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <label>

                <div class="date">
                    <label style="margin-right: 10px;">Année</label>
                    {{ form_widget(form.year, {'attr': {'class': ' input_amount form-control'}} ) }}
                </div>

            </label>
       <button type="submit">Télécharger le compte  de résultat</button>
        {{ form_end(form) }}
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}

{% block extendJavascript %}
    <script src="{{ asset('build/js/rapport.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock extendJavascript %}