{% include 'layout.html.twig' %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/CSS/rapport.css') }}">
    {% endblock %}

{% block content %}

    <div class="colonne1">
        <h1>Générez vos Bilans Comptable</h1>
        <br>
    </div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="main">
            <label>
                {{ form_widget(form.choix, {'attr': {'class': 'selectchoice form-control'}} ) }}
                <div class="date">
                    <p class="affiche">Mois</p>
                    {{ form_widget(form.month, {'attr': {'class': ' affiche month form-control'}} ) }}
                    <br>
                    <label>Année</label>
                    {{ form_widget(form.year, {'attr': {'class': ' year form-control'}} ) }}
                </div>
                <br>
            </label>
            <button>Télécharger le Bilan</button>
    </div>
    {{ form_end(form) }}

    {% include 'footer.html.twig' %}
{% endblock %}

{% block extendJavascript %}
    <script src="{{ asset('build/js/rapport.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock extendJavascript %}